$error_color: #F44336;
$success_color: #4CAF50;

$primary_color: #2196F3;//#056fb0;
$background-color: #f6f6f6;
$border-color: blue;
$color-off-white: #f9f9f9;
$color-red-500: #F44336;
$color-grey:  rgba(0, 0, 0, 0.2);

$color-cell-available:  rgba(0, 0, 0, 0.2);
$color-cell-self: #66BB6A;
$color-cell-occupied: #EF5350;

$font-family: 'Roboto', sans-serif;
$font-family-mono: 'Roboto Mono', monospace;

$font-small: 14px;

$dark-color: #212121;